.jumbotron {
  margin-bottom: 0rem !important;
  
  &__parallax {
    position: relative;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &--textalign-center {
    text-align: center;
  }

}

.content {
  z-index: 0;  
  background: rgb(44,123,153);
  height: 600px;
  width: 100%;
  box-shadow: 0 -2px 1px rgba(0,0,0,.15);
  border-top: 1px solid rgba(255,255,255 ,.2);
}

.btn.btn-link{
  &::after {
    content: "-";
    font-weight: bolder;
    position: absolute;
    right: 34px;
    top: 15px;
    font-size: 20px;

  }
}

.btn.btn-link.collapsed{
    &::after{
      content: "+";
      font-weight: bolder;
      position: absolute;
      right: 30px;
      top: 15px;
      font-size: 20px;
    }
  
  }